@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;

  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
