.light {
  background-color: White;
  height: 100vh;
  min-height : 100vh;
}

.dark {
  background-color: #333333;
  height: 100vh;
  min-height : 100vh;
}

.reports-frame {
  width: 100%;
  height: 100vw;
}

.divider {
  border: 1px solid white;
}
